In [310]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [311]:
url = "https://www.nairaland.com" #Url to scrape from

In [312]:
web_data = requests.get(url) #to request the data we want to scrape

In [313]:
scrapped_data = web_data.content #show all web content

In [314]:
#Beautify data with beautiful soup
beautify = bs(scrapped_data,"lxml")

In [315]:
for g in beautify.find_all("td",attrs={'class':'homeuser'}):
    a = g.text
    a = a.replace("\n"," ")
    a = a.split(",")
    a[0] = a[0].replace("Birthdays:","")
    #The best way to understand what this code does is to run each line and see the output.

In [316]:
data = pd.DataFrame(data=a,columns=["Username(Age)"]) #Create a dataframe using pandas
from datetime import date
today = date.today() #This gives the date of the day
BD = data.rename_axis(today.strftime("%b-%d-%Y")) 
BD.index += 1 #let our index start from one

In [317]:
BD.head(7)

               Username(Age)
May-02-2019
1                    obanqua
2             lawrenceo7(40)
3                    obylynn
4               tonieguy(34)
5             coolsamie0(30)
6                  fizo4real
7                  ihebrooke

### Exporting Data to .csv

In [318]:
BD.to_csv("nairaland_UserBir.csv")